html {
  box-sizing: border-box;
  background-image: url('tło.jpg');
  background-size: cover;
  font-family: 'Arial Rounded MT', 'Calibri', 'Helvetica';
}

*, *:before, *:after {
  box-sizing: inherit;
}

.photosBackground{
	width: 95vw;
	margin: auto;
	background-color: rgba(255,255,255,0.85);
	padding-top: 1vh;
	padding-bottom: 5vh;
	overflow: auto;
}

.photosBackground:after {
  content: '';
  display: block;
  clear: both;
}

button{	
	font-family: 'Arial Rounded MT', 'Calibri', 'Helvetica';
}

.buttons{
	display: block;
	margin-bottom: 1vh;
	margin-left: 2vw;
}

.controls input{
	display: none;
}

p{
	width: 70%;
	margin-left: 2vw;
}

#takePhoto{
	display: block;
	margin: auto;
	margin-bottom: 1vh;
	font-weight: bold;
	border: 1px solid #2f7ea7;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(64, 38, 5, 0.9);
	font-size: 2rem;
}

input{
	width: 30vw;
}

.bigPhoto{
	max-height: 70vh;
	margin-left: auto;
    margin-right: auto;
    display: block;

}

.smallPhoto{
	position: absolute;
	top:3vh;
	right: 5vw;
	min-width: 16vw; max-width: 17vw;
}

.photos img{
	width: 8vh;
	padding: 0.5rem 0.5rem 2rem 0.5rem;
	background: white;
}

.photos a:nth-child(4n+1) img { transform: rotate(10deg); }
.photos a:nth-child(4n+2) img { transform: rotate(-2deg); }
.photos a:nth-child(4n+3) img { transform: rotate(8deg); }
.photos a:nth-child(4n+4) img { transform: rotate(-11deg); }

@media all and (max-width: 600px){
	.smallPhoto{
		display: none;
	}
	.bigPhoto{
		width: 100%;
		height: auto;
	}
	p{
		margin: auto;
		margin-bottom: 1vh;
	}
}